body{
    margin: 0px;
    padding: 0px;
    background-color: white;
    width: 100vw;
    overflow-x: hidden;
}
#container{
    display: grid;
    place-items: start center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    width: 100vw;
    height: 100vh;
}
#items{
    display: grid;
    place-items: center;
    width: 80vw;
    height: 50vh;
    text-align: justify;
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
header{
    width: 100vw;
    padding-top: 2vh;
    text-align: center;
}
#description{
    text-align: justify;
    font-size: 28px;
    margin-left: 7vw;
    margin-right: 7vw;
}
h1{
    text-align: center;
    font-size: 56px;
    font-family: 'Raleway', sans-serif;
}
.item{
    border: 1px solid rgb(0, 0, 0);
    width: 70vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    border-radius: 20px;
}
#item-1{
    background-color: #f1c40f;
}
#item-2{
    background-color: #3498db;
}
#item-3{
    background-color: #2ecc71;
}
#item-1:hover{
    background-color: #9d7e06;
}
#item-2:hover{
    background-color:#136094;
}
#item-3:hover{
    background-color: #128140;
}
#logo{
    padding-left: 6vw;
    padding-right: 6vw;
    width: 100px;
    height: 150px;
}
#item-2-footer{
    padding-left: 2vw;
    padding-right: 2vw;
    height: 5vw;
}#item-3-footer{
    height: 1vw;
}
footer{
    width: 100vw;
    height: 22vh;
    background-color: #d0d5d8;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
}
.flex-item{
    padding: 0;
    margin: 0;
    height: 25vh;
    text-align: center;
}

p, h4{
    font-family: 'Raleway', sans-serif;
}
#home{
    width: 90px;
    height: 90px;
}#link-home:hover{
    border-top: 3px solid rgb(124, 123, 123);
}
h3{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}
main{
    text-align: center;
}
p{
    font-size: 26px;
}
.text{
    padding-left: 8vw;
    padding-right: 8vw;
    text-align: justify;
}
#relatorio{
    width: 70vw;
}
#grafico{
    width: 70vw;
    padding-bottom: 10vh;
}
#green{
    border-radius: 10px;
    margin-right: 7vw;
    margin-left: 7vw;
    height: 10px;
    border-color: #2ecc71;
    background-color: #2ecc71;
}#yellow{
    border-radius: 10px;
    margin-right: 7vw;
    margin-left: 7vw;
    height: 10px;
    background-color: #f1c40f;
    border-color: #f1c40f;
}#blue{
    border-radius: 10px;
    margin-right: 7vw;
    margin-left: 7vw;
    height: 10px;
    background-color:  #3498db;
    border-color: #3498db; 
}
#pic-brasil{
    width: 480px;
    height: 270px;
    padding-bottom: 10vh;
}
#list-tec{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
}
.exe-item{
    border: 1px solid black;
    background-color:#1698e9;
    width: 33vw;
    height: 30vh;
    margin: 2vh 1vw 2vh 1vw;
}.exe-item:hover{
    background-color:#1e648f;
}h2{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}h5{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    text-align: center;
    padding-left: 14px;
    padding-right: 14px;
    color: white;
}
.card{
    background-color: white;
}
.rectangle:hover{
    opacity: 0.65;
}#d3-container{
    width: 100vw;
    float: left;
}
label, select, #generate{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
}#typeGraphic{
    text-decoration: underline;
}